streamlit
streamlit-webrtc
opencv-python-headless
numpy
tensorflow
av
pydub
ffmpeg-python
imageio[ffmpeg]
aiortc
dlib
scipy  # Required for EAR calculations
pyngrok  # If running on Colab for public access
